/*
* Name: V-Book App
* Author: Jojimer Castino
* Prototype version: 1.0  */

main{
  height: 100vh;
  overflow-y:scroll;
}
main::-webkit-scrollbar{
  width:0;
}

/*** CREATE BOOK PAGE ***/
#vb-show-content .cb-wrap .form-group{
  display:flex;
  flex-wrap: wrap;
}
#vb-show-content .cb-wrap .form-group > span:nth-child(1){
  flex: 30%;
}

#vb-show-content .cb-wrap .form-group > span:nth-child(2){
  flex: 40%;
}

#vb-show-content .form-group > button{
  flex: 30%;
  height: 38px;
  right: 0;
  margin-top: 32px;
  border-radius: 0 .25rem .25rem 0;
  margin-left: -2px;
}

#book-title{
  border-radius: .25rem 0 0 .25rem;
}

#sub-title{
  margin-left: -1px;
  border-left: 0;
  background: transparent;
  border-radius: 0;
}

.list-item-vbtitle > span:first-child{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
}

.list-item-vbtitle > span >small{
  flex:1;
}

span.vbook-title{
  flex: 100%;
}

ul.title-list-group > li, ul.chapter-list-group > li, ul.vb-contentlist-wrap > li{
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-bottom-width: 1px!important;
  border-radius: 0!important;
  position: relative;
  padding: .75rem 1.25rem; 
}

span.vb-status{
  font-weight: normal;
  margin-top: -20px;
}

.vb-btn-disable{
  cursor:not-allowed;
}

/*** BOOK CHAPTER ***/
#chapter-accordion{
  padding-left:0;
}

li.list-item-vbcontent > span i{
  color: #555;
  font-size: 12px;;
}

li.list-item-vbcontent > span i:hover{
  opacity: .5;
}

li.list-item-vbcontent > span{
  cursor: pointer;
}

div.modal-editor-wrap{
  width: 80%;
  margin: 50px auto;
}

div.ck-editor__editable{
  height:350px;
}














/*** CSS LOAD EFFECTS ***/

.vb-loading{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }