/*
* Name: V-Book App
* Author: Jojimer Castino
* Prototype version: 1.0  */

main{
  height: 100vh;
  overflow-y:scroll;
}
main::-webkit-scrollbar{
  width:0;
}

/*** GENERAL POSITION ***/
.p-fixed{
  position: fixed;
}

.p-absolute{
  position: absolute;
}

.p-relative{
  position: relative;
}

/*** CREATE BOOK PAGE ***/
#vb-show-content .cb-wrap .form-group{
  display:flex;
  flex-wrap: wrap;
}
#vb-show-content .cb-wrap .form-group > span:nth-child(1){
  flex: 30%;
}

#vb-show-content .cb-wrap .form-group > span:nth-child(2){
  flex: 40%;
}

#vb-show-content .form-group > button{
  flex: 30%;
  height: 38px;
  right: 0;
  margin-top: 32px;
  border-radius: 0 .25rem .25rem 0;
  margin-left: -2px;
}

#book-title{
  border-radius: .25rem 0 0 .25rem;
}

#sub-title{
  margin-left: -1px;
  border-left: 0;
  background: transparent;
  border-radius: 0;
}

.list-item-vbtitle > span:first-child{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 50%;
}

.list-item-vbtitle > span >small{
  flex:1;
}

span.vbook-title{
  flex: 100%;
}

ul.title-list-group > li, ul.chapter-list-group > li, ul.vb-contentlist-wrap > li{
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-bottom-width: 1px!important;
  border-radius: 0!important;
  position: relative;
  padding: .75rem 1.25rem; 
}

span.vb-status{
  font-weight: normal;
  margin-top: -20px;
}

.vb-btn-disable{
  cursor:not-allowed;
}

/*** BOOK CHAPTER ***/
#chapter-accordion{
  padding-left:0;
}

li.list-item-vbcontent > span i{
  color: #555;
  font-size: 14px;;
}

li.list-item-vbcontent > span i:hover{
  opacity: .5;
}

li.list-item-vbcontent > span{
  cursor: pointer;
}

div.modal-editor-wrap, div.modal-section-wrap{
  width: 80%;
  margin: 50px auto;
}

div#vb-modal-preview .modal-header, div#vb-modal-editstyle .modal-header{
  flex-direction: row-reverse;
}

div.ck-editor__editable{
  height:350px;
}

span.vb-btn-wrap > span{
  padding: 5px;
  margin:0 5px;
}


/*** CONTENT PREVIEW ***/
#vb-preview{
  height: 75vh;
  overflow-y: scroll;
  text-align: left;
  width: 750px;
  margin: 0 auto;
  padding: 40px 0;
}

::-webkit-scrollbar{
  width: 0px;
  background-color: #eee;
}

.scrollMouseIn::-webkit-scrollbar{
  width: 5px;
  background-color: #eee;
  opacity: .3;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.scrollMouseIn::-webkit-scrollbar-thumb{
  background:#007bff; 
  border-radius: 10px;
  height: 100px;
}

/* ::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:hover {
  background: #007bff; 
} */

#vb-modal-preview .modal-title, #vb-modal-editstyle .modal-title{
  width: 100%;
  text-align: center;
}

.vb-content-subtitle{
  display: inherit;
}

input.content-name, #chapter-name{
  z-index: 2;
  position: relative;
}

button.vb-new-content, .bc-wrap button{
  z-index: 3;
  position: relative;
}

#vb-preview span, #style-preview span{
  margin-bottom:1rem;
  /* display: inline-block; */
  white-space: break-spaces;
}

button.prev-close, button.editstyle-close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  padding: 1rem;
  margin: -1rem -1rem -1rem auto;
  cursor: pointer;
}

.prev-close:hover, .editstyle-close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
}

.prev-close, .editstyle-close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}

/*** EDIT STYLE PAGE ***/
#style-preview{
  overflow-y: scroll;
  height: 60vh;
}

#personal-sounds, #default-sounds{
  border-radius: 0!important;
}

#personal-sounds > div.card-header button, #default-sounds > div.card-header button{
  width:100%;
  border-radius: 0!important;
  background-color: #444;
  color:white;
}

#personal-sounds > div.card-header button.collapsed, #default-sounds > div.card-header button.collapsed{
  background-color:rgb(239, 239, 239);
  color: #6c757d!important;
}

#personal-sounds > div.card-header button:hover, #default-sounds > div.card-header button:hover{
  color: white!important;
  background-color: #535353;
}

#personal-sounds > div, #default-sounds > div{
  border-radius: 0!important;
}

#personal-sounds div.card-body, #default-sounds div.card-body{
  overflow-y: scroll;
}

#personal-sounds ul, #default-sounds ul{
  list-style: none;
}

#personal-sounds ul > li, #default-sounds ul > li{
  padding: 10px 20px 10px 30px;
  text-align: left;
  display: block;
  width:100%;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

#vbSelectSounds ul > li.act-sound{
  background-color: #007bff;
  color: white;
}

/*** ALIGN TEXT OPTION ***/
#vb-edit-align{
  border-bottom: 1px solid #ccc;
}

#vb-edit-align ul{
  display: flex;
  list-style: none;
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

#vb-edit-align ul > li{
  padding: 5px 15px;
  cursor: pointer;
}

#vb-edit-align ul > li.act-align{
  background-color: #eee;
}

/*** UPLOAD SOUNDS CSS ***/
.input-empty{
  width:100%;
}

.input-empty > div > span.fileUpload{
  display:block;
}

.it .btn-orange
{
    background-color: blue;
    border-color: #777!important;
    color: #777;
    text-align: left;
  width:100%;
}
.it input.form-control
{
    
    border:none;
  margin-bottom:0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}
.it .form-control:focus
{
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/*** BOOK READER ***/
#book-navigation-container button > small{
  display:none;
}

ul.vb-section-list-nav{
  list-style: none;
}

ul.vb-section-list-nav > li{
  padding: 10px 20px 10px 30px;
  text-align: left;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

ul.vb-section-list-nav > li.act-section{
  background-color: #007bff;
  color: white;
}

div#vbBookNavigationList{
  width: 300px;
  margin: 0 auto;
}

div#style-bookview{
  /* overflow-y: scroll; */
  height: 100%;
}

/*** CSS LOAD EFFECTS ***/

.vb-loading{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #000;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }